.pp-w-1{width: 1rem;}
.pp-w-2{width: 2rem;}
.pp-w-3{width: 3rem;}
.pp-w-4{width: 4rem;}
.pp-w-5{width: 5rem;}
.pp-w-6{width: 6rem;}
.pp-w-7{width: 7rem;}
.pp-w-8{width: 8rem;}
.pp-w-9{width: 9rem;}
.pp-w-10{width: 10rem;}
.pp-w-11{width: 11rem;}
.pp-w-12{width: 12rem;}
.pp-w-13{width: 13rem;}
.pp-w-14{width: 14rem;}
.pp-w-15{width: 15rem;}
.pp-w-16{width: 16rem;}
.pp-w-17{width: 17rem;}
.pp-w-18{width: 18rem;}
.pp-w-19{width: 19rem;}
.pp-w-20{width: 20rem;}
.pp-w-21{width: 21rem;}
.pp-w-22{width: 22rem;}
.pp-w-23{width: 23rem;}
.pp-w-24{width: 24rem;}